<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=614, initial-scale=1, user-scalable=no">
  <meta name="robots" content="noindex, nofollow, noodp, noarchive, nosnippet, noimageindex" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>www.truwell.org</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="page-container">

    <header class="header-page1">
      <img src="./img/header-1.png" alt="" />
      <img src="./img/logo.svg" class="header-page1__top-logo" alt="" />
      <div class="header-page1__text1">Feedback on</div>
      <div class="header-page1__text2">DIGITAL FOOTPRINT</div>
      <div class="header-page1__text4">exercise Pt.1</div>
    </header>

    <main class="content-page1">
      <div class="container-inner">

        <div class="content-page1-text1 content-page1__text--space">
          <p><b>Dear; Adam,</b></p>
          <p>Thank you for completing Part One of the exercise on, <b>“Our Digital Footprint”</b>.
          </p>
          <p>Within the exercise, we recognised that <span class="content-page1__text--mark"> each time we use the Internet or leave comments on
              social media, make Skype calls, use apps or send an email, we put a dab of paint on our digital portrait</span>. Each action we take online, each site we visit, each digital comment we make is part of a picture of who we really are.</p>
          <p>This led us to the crunch question: Do we like our digital picture? Is it a picture we would be
            happy to for our parents to see, and to have as our resume, and to have our children copy?
            We recognised that there were two types of digital footprint. One is an ACTIVE footprint we are
            aware of such as what we put on social networking sites. The other is a PASSIVE footprint we
            don’t know about. This is where information about us is collected without our knowledge by
            unknown people, who use it to their advantage.</p>
        </div>

        <div class="content-page1-big-text">
          <b>We need to be aware of both types of digital footprint.</b>
        </div>
        <img src="./img/page1-pic.png" class="content-page1-img" alt="">

        <div class="clear-fix"></div>

      </div>
      <div class="hr hr--fix"></div>
    </main>
  </div>

  <div class="page-container">
    <header class="header-page1">
      <img src="./img/header-2.png" alt="">
    </header>
    <main class="content-page2">
      <div class="container-inner">

        <div class="form-line form-line--item1">
          <img class="form-line__bullet" src="./img/input-item.svg" width="20" alt="" />
          <div class="form-line__question">
            <b>
              When describing what sort of a person a potential employer would find if they looked at your digital footprint on social media, you wrote:
            </b>
          </div>
          <img src="./img/input-bg.png" alt="">
          <textarea name="" id="" class="form-line__text-area" rows="3" maxlength="100"></textarea>
        </div>

        <div class="form-line">
          <img class="form-line__bullet" src="./img/input-item.svg" width="20" alt="" />
          <div class="form-line__question">
            <b>
              On being asked what you could do to improve your digital footprint so that it would be more attractive to a potential employer, you responded by writing:
            </b>
          </div>
          <img src="./img/input-bg.png" alt="">
          <textarea name="" id="" class="form-line__text-area" rows="3" maxlength="100"></textarea>
        </div>

        <p class="content-page2-text">It needs to be remembered that our digital footprint can be influenced by who we choose to
          interact with online. Therefore, we need to be careful about who we choose to contact in the
          cyber world. If any should feel threatened or uncomfortable, various help agencies exist such as:</p>
      </div>

      <div class="content-page2-list">
        <div class="content-page2-list__item">
          <img src="./img/page2-list.svg" class="content-page2-list__img" alt="" />
          eheadspace 1800 650 890
        </div>
        <div class="content-page2-list__item">
          <img src="./img/page2-list.svg" class="content-page2-list__img" alt="" />
          Kids Helpline 1800 55 1800
        </div>
        <div class="content-page2-list__item">
          <img src="./img/page2-list.svg" class="content-page2-list__img" alt="" />
          Lifeline 13 11 14
        </div>
        <div class="content-page2-list__item">
          <img src="./img/page2-list.svg" class="content-page2-list__img" alt="" />
          National Helpline 1800 522 4700
        </div>
      </div>


      <div class="footer-page2">
        <img src="./img/footer.png" class="footer-page2__image" alt="" />
        <p class="footer-page2__text">All the very best with creating a great digital footprint.</p>
        <img src="./img/logo.svg" class="footer-page2__logo" alt="" />
        <div class="footer-page2__name"><b>truwell</b></div>
      </div>

    </main>
    <div class="hr"></div>
  </div>

</body>

</html>